# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Data/output files
*.csv
*.tsv
*.h5
*.hdf5
*.sqlite3

# Model files
*.pth
*.pb
*.onnx

# Environment files
*.env

# Others
.idea/
*.bak